@import "../abstracts/aspect-ratio.scss";

.feature-img-container {
    display: flex;
    justify-content: center;

    img {
        width: 100%;
    }

    @media (min-width: 769px) {
        @include aspect-ratio(402, 361);
    }

    @media (max-width: 768px) {
        margin-bottom: 40px;

        .content {
            max-width: 300px;
            width: 100%;
            margin: 0 auto;
        }
    }
}