@import "../abstracts/colors.scss";

.footer {
    .highlighted-block {
        margin-bottom: 60px;

        p {
            color: $gray;
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__contact {
            display: flex;
            align-items: center;
            width: 30%;
            flex-shrink: 1;

            &__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 15px;
                margin-right: 20px;
                border: 8px solid $yellow;

                img {
                    width: 30px;
                    height: 30px;
                }
            }

            &__text, &__link {
                font-size: 18px;
                font-family: 'ProximaNova-Semibold';
            }

            &__link {
                color: $blue
            }

            &__text {
                color: black;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    @media (max-width: 768px) {
        .highlighted-block {
            margin-bottom: 30px;
        }

        &__contacts {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            &__contact {
                border: 6px solid $yellow;
                width: 100%;
                margin-bottom: 30px;

                &__icon {
                    border: none;
                }
            }
        }
    }
}