@import "../abstracts/colors.scss";

.square-button {
    display: block;
    padding: 15px 20px;
    background: $yellow;
    border: none;
    font-family: 'ProximaNova-Bold';
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}