@import "../abstracts/colors.scss";

.fourth-section {
    background: url('../../../assets/finance_img@2x.png') no-repeat 100% 100%, $background-lightgray;
    background-size: 70%, auto;

    @media (max-width: 768px) {
        background-size: 80%, auto;
    }

    @media (max-width: 530px) {
        background-size: 120%, auto;
    }
}