@font-face {
    font-family: 'ProximaNova-Black';
    src: url('../fonts/Proxima\ Nova\ Black.otf');
}

@font-face {
    font-family: 'ProximaNova-BlackItalic';
    src: url('../fonts/Proxima\ Nova\ Black\ Italic.otf');
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/Proxima\ Nova\ Bold.otf');
}

@font-face {
    font-family: 'ProximaNova-BoldItalic';
    src: url('../fonts/Proxima\ Nova\ Bold\ Italic.otf');
}

@font-face {
    font-family: 'ProximaNova-Extrabold';
    src: url('../fonts/Proxima\ Nova\ Extrabold.otf');
}

@font-face {
    font-family: 'ProximaNova-ExtraboldItalic';
    src: url('../fonts/Proxima\ Nova\ Extrabold\ Italic.otf');
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../fonts/Proxima\ Nova\ Light.otf');
}

@font-face {
    font-family: 'ProximaNova-LightItalic';
    src: url('../fonts/Proxima\ Nova\ Light\ Italic.otf');
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/Proxima\ Nova\ Regular.otf');
}

@font-face {
    font-family: 'ProximaNova-RegularItalic';
    src: url('../fonts/Proxima\ Nova\ Regular\ Italic.otf');
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/Proxima\ Nova\ Semibold.otf');
}

@font-face {
    font-family: 'ProximaNova-LightSemibold';
    src: url('../fonts/Proxima\ Nova\ Semibold\ Italic.otf');
}

@font-face {
    font-family: 'ProximaNova-Thin';
    src: url('../fonts/Proxima\ Nova\ Thin.otf');
}

@font-face {
    font-family: 'ProximaNova-ThinItalic';
    src: url('../fonts/Proxima\ Nova\ Thin\ Italic.otf');
}
////////////////////////////////////////////////////////////////////////////////
@font-face {
    font-family: 'ProximaNova-CondensedBlack';
    src: url('../fonts/Proxima\ Nova\ Condensed\ Black.otf');
}

@font-face {
    font-family: 'ProximaNova-CondensedBlackItalic';
    src: url('../fonts/Proxima\ Nova\ Condensed\ Black\ Italic.otf');
}

@font-face {
    font-family: 'ProximaNova-CondensedBold';
    src: url('../fonts/Proxima\ Nova\ Condensed\ Bold.otf');
}

@font-face {
    font-family: 'ProximaNova-CondensedBoldItalic';
    src: url('../fonts/Proxima\ Nova\ Condensed\ Bold\ Italic.otf');
}

@font-face {
    font-family: 'ProximaNova-CondensedExtrabold';
    src: url('../fonts/Proxima\ Nova\ Condensed\ Extrabold.otf');
}

@font-face {
    font-family: 'ProximaNova-CondensedExtraboldItalic';
    src: url('../fonts/Proxima\ Nova\ Condensed\ Extrabold\ Italic.otf');
}

@font-face {
    font-family: 'ProximaNova-CondensedLight';
    src: url('../fonts/Proxima\ Nova\ Condensed\ Light.otf');
}

@font-face {
    font-family: 'ProximaNova-CondensedLightItalic';
    src: url('../fonts/Proxima\ Nova\ Condensed\ Light\ Italic.otf');
}

@font-face {
    font-family: 'ProximaNova-CondensedRegular';
    src: url('../fonts/Proxima\ Nova\ Condensed\ Regular.otf');
}

@font-face {
    font-family: 'ProximaNova-CondensedRegularItalic';
    src: url('../fonts/Proxima\ Nova\ Condensed\ Regular\ Italic.otf');
}

@font-face {
    font-family: 'ProximaNova-CondensedSemibold';
    src: url('../fonts/Proxima\ Nova\ Condensed\ Semibold.otf');
}

@font-face {
    font-family: 'ProximaNova-CondensedSemiboldItalic';
    src: url('../fonts/Proxima\ Nova\ Condensed\ Semibold\ Italic.otf');
}

@font-face {
    font-family: 'ProximaNova-CondensedThin';
    src: url('../fonts/Proxima\ Nova\ Condensed\ Thin.otf');
}

@font-face {
    font-family: 'ProximaNova-CondensedThinItalic';
    src: url('../fonts/Proxima\ Nova\ Condensed\ Thin\ Italic.otf');
}
/////////////////////////////////////////////////////////////////////////////////////
@font-face {
    font-family: 'ProximaNova-ExtraCondensedBlack';
    src: url('../fonts/Proxima\ Nova\ Extra\ Condensed\ Black.otf');
}

@font-face {
    font-family: 'ProximaNova-ExtraCondensedBlackItalic';
    src: url('../fonts/Proxima\ Nova\ Extra\ Condensed\ Black\ Italic.otf');
}

@font-face {
    font-family: 'ProximaNova-ExtraCondensedBold';
    src: url('../fonts/Proxima\ Nova\ Extra\ Condensed\ Bold.otf');
}

@font-face {
    font-family: 'ProximaNova-ExtraCondensedBoldItalic';
    src: url('../fonts/Proxima\ Nova\ Extra\ Condensed\ Bold\ Italic.otf');
}

@font-face {
    font-family: 'ProximaNova-ExtraCondensedExtrabold';
    src: url('../fonts/Proxima\ Nova\ Extra\ Condensed\ Extrabold.otf');
}

@font-face {
    font-family: 'ProximaNova-ExtraCondensedExtraboldItalic';
    src: url('../fonts/Proxima\ Nova\ Extra\ Condensed\ Extrabold\ Italic.otf');
}

@font-face {
    font-family: 'ProximaNova-ExtraCondensedLight';
    src: url('../fonts/Proxima\ Nova\ Extra\ Condensed\ Light.otf');
}

@font-face {
    font-family: 'ProximaNova-ExtraCondensedLightItalic';
    src: url('../fonts/Proxima\ Nova\ Extra\ Condensed\ Light\ Italic.otf');
}

@font-face {
    font-family: 'ProximaNova-ExtraCondensedRegular';
    src: url('../fonts/Proxima\ Nova\ Extra\ Condensed\ Regular.otf');
}

@font-face {
    font-family: 'ProximaNova-ExtraCondensedRegularItalic';
    src: url('../fonts/Proxima\ Nova\ Extra\ Condensed\ Regular\ Italic.otf');
}

@font-face {
    font-family: 'ProximaNova-ExtraCondensedSemibold';
    src: url('../fonts/Proxima\ Nova\ Extra\ Condensed\ Semibold.otf');
}

@font-face {
    font-family: 'ProximaNova-ExtraCondensedSemiboldItalic';
    src: url('../fonts/Proxima\ Nova\ Extra\ Condensed\ Semibold\ Italic.otf');
}

@font-face {
    font-family: 'ProximaNova-ExtraCondensedThin';
    src: url('../fonts/Proxima\ Nova\ Extra\ Condensed\ Thin.otf');
}

@font-face {
    font-family: 'ProximaNova-ExtraCondensedThinItalic';
    src: url('../fonts/Proxima\ Nova\ Extra\ Condensed\ Thin\ Italic.otf');
}
